* {
    margin: 0;
}
body{
    margin: 0; 
    background-color: #e0e0e0;
}

.first img { 
    display: inline; 
    height: 150px;
    width: 150px; 
} 
.second img {
    height: 20px;
    width: 22px;
} 
header {
    background-color: rosybrown;
} 
footer{
    background-color: rosybrown;
} 
.one {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg"); 
    height: 380px;  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
} 
.first{
    margin-left: 15%;
    margin-right: 15%; 
   
} 
.first div img{
    padding: 4%; 
    border-radius: 25%; 
    
}